 body{
   font-size: 20px;
   font-family: 'Coiny', cursive;
   float:center;
  background-color:grey;
  text-align: center;
 };
 .container{
   overflow-x: hidden;
 }
p{
	font-size: 20px;
	 font-weight: bold;
font-family: 'Indie Flower', cursive;

}
input,#name1{
  text-align: center;
}
